@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>You agree by using this site that unlimited personal data may be collected about you, and you additionally waive your rights for erasure, access, modify, and control where this data goes. Please don't contact with any questions, just deal with it or don't use this site.</p>
